@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Playfair+Display&family=Roboto:wght@100&display=swap');

body{
    background-color: #dba39a;
}
header{
    margin-top: 0;
    margin-bottom:0 ;
}
.navegacao-link{
padding: 4px;
list-style-type:none;
}

.navegacao-link-link{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.navegacao{
    padding: 1%;
    display: flex;
    justify-content:flex-end;
    
    
}
.cabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2%;
    margin-bottom: 1%;
}
.logo{
    
    width: 15%;
    position: relative;
    border: 1px solid black;
    box-shadow: 1px 1px 5px black;
    
}

.container{
    padding: 0%;
    margin-top: 0%;
}
.titulo-pagina-produtos{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*text-shadow: 1px 1px 1px black;*/
}



.lista-de-produtos {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    flex-wrap: wrap;
    
    
}

ul .imagem-produto{
    position: relative;
    border: 2px solid black;
    box-shadow: 1px 1px 5px black;
    margin: 2% 2%;
}

ul .imagem-produto img {
    width: 100%;
    height: 100%;
}

ul .imagem-produto figcaption {
    font-family: 'arial';
    text-align: justify;
    text-shadow: 1px 1px 3px black;
    opacity: 0;
    position: absolute;
    top:0px;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

ul .imagem-produto:hover figcaption{
    opacity: 1;
}

.imagem-homem{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-lyco {
    text-align: center;
    color: #FFEDDB;
    position: relative;
    bottom: 0;
    background-color: rgb(200, 85, 90);
    width: 100%;
    height: 50px;    
    text-align: center;
    line-height: 50px;
}

.imagem-produto{
   
}