body{
    background-image: url(./Home.png) ;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo-lyco { 
    color: #FFEDDB;
    font-family: url ('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap') ;

}

.slogan{
    color: #FFEDDB;
    text-align: center;
}

.logo-principal {
    color: #FFEDDB;
    font-family:('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap') ;
    text-align: center;
    font-size: 120px;
}